// colors
$bg-trans-primary: rgba(10, 10, 10, 0.7);
$bg-trans-secondary: rgba(20, 20, 20, 0.8);
$bg-hover: rgba(20, 20, 20, 0.95);
$bg-primary: #111;
$txt-primary: #ddd;
$txt-hover: #fff;

// bg image
$bg-img: #f4f4f4 url('/static/spacex.png') no-repeat fixed;

// media breakpoints
$lg: 1000px;
$sm: 650px;

// font sizes
$font-lg: 1.2rem;
$font-sm: 0.925rem;
