@import './constants.module';

.card {
  cursor: pointer;
  width: calc((100% / 3) - 20px);
  margin: 5px;
  padding: 0.25rem;
  background-color: $bg-trans-secondary;
  border: 1px solid $bg-trans-secondary;
  border-radius: 5px;
  transition: background-color 0.5s;
  animation: fadeSlideIn 0.8s ease-out;

  @keyframes fadeSlideIn {
    from {
      opacity: 0;
      transform: translateY(150px);
    }

    to {
      opacity: 100%;
      transform: translateY(0);
    }
  }

  &:hover {
    border-color: #ccc;
    background-color: $bg-hover;
  }

  .cardTitle {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #666;
  }

  .cardContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

    & h3,
    p {
      color: $txt-primary;
    }

    img {
      width: 30%;
    }

    .details {
      width: 65%;
      text-align: left;
    }
  }

  h3 {
    margin: 0.4rem 0;
  }

  p {
    margin: 0.25rem 0;
    font-size: $font-sm;
  }
}

@media (max-width: $lg) {
  .card {
    width: calc(50% - 20px);

    .cardContent {
      img {
        width: 28%;
      }
    }
  }
}

@media (max-width: $sm) {
  .card {
    width: calc(100% - 20px);

    .cardContent {
      img {
        width: 24%;
      }
    }
  }
}
