@import './constants.module';

.hero {
  margin: 3rem auto;
  padding: 1rem;
  text-align: center;
  width: 60%;
  height: 260px;
  background-color: $bg-trans-primary;
  border-radius: 5px;
  animation: slideIn 0.8s ease-out;

  @keyframes slideIn {
    from {
      transform: translateY(-150px);
      opacity: 0;
    }

    to {
      transform: translateY(0px);
      opacity: 100%;
    }
  }

  h2,
  h3,
  p {
    color: $txt-primary;
  }

  p {
    font-weight: 600;
  }
}

@media (max-width: $lg) {
  .hero {
    width: 80%;
  }
}

@media (max-width: $sm) {
  .hero {
    width: 90%;
    height: 300px;
  }
}
