@import './constants.module';

.content {
  h1,
  h2,
  h3,
  p {
    color: $txt-primary;
  }

  h1,
  h2 {
    animation: slideDown 1s;

    @keyframes slideDown {
      from {
        transform: translateY(-50px);
        opacity: 0;
      }

      to {
        transform: translateY(0px);
        opacity: 0.9;
      }
    }
  }

  p {
    animation: slideLeft 1s;

    @keyframes slideLeft {
      from {
        transform: translateX(150px);
        opacity: 0;
      }

      to {
        transform: translateX(0px);
        opacity: 0.9;
      }
    }
  }

  section {
    padding: 2rem 1rem;
    margin: 0 auto;
    width: 95%;
    border-radius: 5px;
    background-color: $bg-trans-secondary;
    margin-bottom: 10px;
  }

  section:not(:last-child) > div {
    margin-left: 2rem;
  }

  section:not(:last-child) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    & > img {
      margin: 5px;
      animation: slideRight 1s;

      @keyframes slideRight {
        from {
          transform: translateX(-150px);
        }

        to {
          transform: translateX(0px);
        }
      }
    }
  }

  section:last-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: height 1s;
    animation: fadeInFrame 2s ease-out;

    @keyframes fadeInFrame {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    & > img {
      margin: 5px;
      border: 1px solid white;
      border-radius: 5px;
      animation: fadeInImg 2s ease-out;

      @keyframes fadeInImg {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: $sm) {
  section {
    padding: 1rem 0;
  }

  section:not(:last-child) {
    flex-direction: column;

    & > div {
      margin-left: 0;
    }

    & > img {
      width: 40%;
    }
  }
}
